In [1]:
import pandas as pd
import numpy as np
import openpyxl
from openpyxl import load_workbook
from numpy import nan

In [2]:
def write_excel(filename,sheetname,dataframe):
    with pd.ExcelWriter(filename, engine='openpyxl', mode='a') as writer: 
        workBook = writer.book
        try:
            workBook.remove(workBook[sheetname])
        except:
            print("Worksheet does not exist")
        finally:
            dataframe.to_excel(writer, sheet_name=sheetname,index=False)
            writer.save()
            
def write_empty_excel(filename,sheetname,dataframe):
    with pd.ExcelWriter(filename, engine='openpyxl', mode='a') as writer: 
        workBook = writer.book
        dataframe.to_excel(writer, sheet_name=sheetname,index=False)
        writer.save()
        
def check_building_sheet(min, max):

    for j in range(min, max):

        workbook = load_workbook(filename="/home/anm/rera_maha/ahmednagar/Project_"+str(j)+".xlsx")
        workbook.sheetnames

        sheet_list=[]

        for i in workbook.sheetnames:

            sheet_list.append(i)

        if 'Building Details' not in sheet_list:  
            print('not found')
        else: 
            print('found')

In [3]:
#inserting building sheets inwhich building sheets are not available

In [4]:

data = np.array(['NULL','NULL','NULL'])[np.newaxis]
data1=np.array(['NULL','NULL','NULL','NULL','NULL'])[np.newaxis]
data2=np.array(['NULL','NULL','NULL','NULL','NULL','NULL','NULL','NULL','NULL','NULL','NULL'])[np.newaxis]
bd_list = []
odd_row=[]

header_list=['Sr.No.','Tasks / Activity','Percentage of Work']
header_list1=['Sr.No.','Apartment Type','Carpet Area (in Sqmts)','Number of Apartment','Number of Booked Apartment']
header_list2 = ['Sr.No.', 'Project Name', 'Name', 'Proposed Date of Completion', 'Number of Basement\'s',
                               'Number of Plinth', 'Number of Podium\'s', 'Number of Slab of Super Structure', 'Number of Stilts',
                               'Number of Open Parking', 'Number of Closed Parking']
for j in range(1,116):
    
    workbook = load_workbook(filename="/home/anm/rera_maha/ahmednagar/Project_"+str(j)+".xlsx")
    workbook.sheetnames
    
    sheet_list=[]
    
    for i in workbook.sheetnames:
            
            sheet_list.append(i)
            
    
    if 'Building Details' not in sheet_list:  
        dummy_df = pd.DataFrame(data,columns = header_list) 
        dummy_df1 = pd.DataFrame(data1,columns = header_list1)
        dummy_df2 = pd.DataFrame(data2,columns = header_list2)
        write_empty_excel('/home/anm/rera_maha/ahmednagar/Project_'+str(j)+'.xlsx', "Building Details", dummy_df)
        
        write_empty_excel('/home/anm/rera_maha/ahmednagar/Project_'+str(j)+'.xlsx', "Building Details", dummy_df1)
        write_empty_excel('/home/anm/rera_maha/ahmednagar/Project_'+str(j)+'.xlsx', "Building Details", dummy_df2)
        print(j)
        print(dummy_df2)

9
  Sr.No. Project Name  Name Proposed Date of Completion Number of Basement's  \
0   NULL         NULL  NULL                        NULL                 NULL

  Number of Plinth Number of Podium's Number of Slab of Super Structure  \
0             NULL               NULL                              NULL

  Number of Stilts Number of Open Parking Number of Closed Parking
0             NULL                   NULL                     NULL

/home/anm/.local/lib/python3.6/site-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

56
  Sr.No. Project Name  Name Proposed Date of Completion Number of Basement's  \
0   NULL         NULL  NULL                        NULL                 NULL

  Number of Plinth Number of Podium's Number of Slab of Super Structure  \
0             NULL               NULL                              NULL

  Number of Stilts Number of Open Parking Number of Closed Parking
0             NULL                   NULL                     NULL
57
  Sr.No. Project Name  Name Proposed Date of Completion Number of Basement's  \
0   NULL         NULL  NULL                        NULL                 NULL

  Number of Plinth Number of Podium's Number of Slab of Super Structure  \
0             NULL               NULL                              NULL

  Number of Stilts Number of Open Parking Number of Closed Parking
0             NULL                   NULL                     NULL

/home/anm/.local/lib/python3.6/site-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
/home/anm/.local/lib/python3.6/site-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [5]:
# inserting project id all the sheets

In [5]:

for j in range(1,247):
    sheet_list=[]
    workbook = load_workbook(filename="/home/anm/rera_maha/ahmednagar/Project_"+str(j)+".xlsx")
    workbook.sheetnames
    print(j)
    for i in workbook.sheetnames:
        sheet_list.append(i)
    for l in range(0, len(sheet_list)):

        df_n = pd.read_excel('/home/anm/rera_maha/ahmednagar/Project_'+str(j)+'.xlsx', sheet_name = sheet_list[l])
        df_n.insert(0, "Project ID",j )
        write_excel('/home/anm/rera_maha/ahmednagar/Project_'+str(j)+'.xlsx', sheet_list[l], df_n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246

In [7]:
#cleaning building details list and inserting building no. column in buliding sheets

In [6]:
for j in range(1,247):
    print(j)
    workbook = load_workbook(filename="/home/anm/rera_maha/ahmednagar/Project_"+str(j)+".xlsx")
    workbook.sheetnames
    m=1
    bd_list = []
    odd_row=[]
    for i in workbook.sheetnames:
        if i.startswith('Building Detail')==True:
            bd_list.append(i)
            len(bd_list)
            bd_list1=bd_list[:len(bd_list)-1]
            bd_list1
            bd_list
            bd_list[len(bd_list)-1]
    df = pd.read_excel('/home/anm/rera_maha/ahmednagar/Project_'+str(j)+'.xlsx', sheet_name=bd_list[len(bd_list)-1])
    df1=pd.DataFrame(df)
    row = df1.shape
    for k in range(0,row[0]):
        if k%2!=0:
            odd_row.append(k)
        odd_row
    df1.drop(odd_row, axis=0, inplace=True)

    write_excel('/home/anm/rera_maha/ahmednagar/Project_'+str(j)+'.xlsx', bd_list[len(bd_list)-1], df1)
    no_of_building=df1.shape[0]

    for l in range(0, len(bd_list1)):

        df_n = pd.read_excel('/home/anm/rera_maha/ahmednagar/Project_'+str(j)+'.xlsx', sheet_name = bd_list1[l])
     
        df_n.insert(0, "Building_no" , m)
        if df_n['Sr.No.'].isnull().values.any():
            df_n['Building_no'] = nan
        write_excel('/home/anm/rera_maha/ahmednagar/Project_'+str(j)+'.xlsx', bd_list1[l], df_n)
        if l%2 != 0:
            m=m+1
            #write_excel('/home/anm/rera_maha/nagpur/Project_'+str(j)+'.xlsx', bd_list1[l], df_n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246

In [11]:
list_sheet = []
for j in range(1,2):
    print(j)
    
    workbook = load_workbook(filename="/home/anm/Desktop/Project_"+str(j)+".xlsx")
    workbook.sheetnames
    for i in workbook.sheetnames:
        list_sheet.append(i)

1

In [20]:
list_sheet

['Sheet',
 '\n    Past Experience Details\n',
 'Member Information',
 'Project',
 '  Project Details',
 'Development Work',
 'Project Professional Information',
 '\n    Past Experience Details\n1',
 'NA',
 'Project1',
 'Building Details4',
 'Building Details',
 'Building Details1',
 'Building Details2',
 'Building Details3']

In [24]:
for k in list_sheet:
    print(k)

Sheet

    Past Experience Details

Member Information
Project
  Project Details
Development Work
Project Professional Information

    Past Experience Details
1
NA
Project1
Building Details4
Building Details
Building Details1
Building Details2
Building Details3

In [29]:

df = pd.read_excel('/home/anm/Desktop/Project_1.xlsx', sheet_name='Building Details4')
df1=pd.DataFrame(df)
df1.drop(columns ='Unnamed: 0', axis=1)

,Project ID,Sr.No.,Project Name,Name,Proposed Date of Completion,Number of Basement's,Number of Plinth,Number of Podium's,Number of Slab of Super Structure,Number of Stilts,Number of Open Parking,Number of Closed Parking
0,1,1,Skyline Signature Annex,Wing-A,31/12/2022,0,1,0,5,0,8,0
1,1,2,Skyline Signature Annex,Wing-B,31/12/2022,0,1,0,5,0,7,0